{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}

    {% if not current_user.is_anonymous %}
        <h2> Welcome {{ current_user.full_name }}</h2>
    {% endif %}

    <div class="jumbotron">
        <h1 class="display-5">Welcome {{ current_user.full_name }}!</h1>
        <p class="lead">This is a demo of an authentication backend and frontend made from the ground up with Flask</p>
        <hr class="my-4">
        <p> The backend consists of web json tokens to verify emails. Forms with CSRF support out of the box, and SQLAlchemy as the ORM</p>
        <p> Frontend is Vanilla JS with custom Bootstrap as the base for strong defaults
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

{% endblock %}