-{% extends "base.html" %}
{% block title %} Reset your password {% endblock %}
{% block content %}

    <h1> Reset your password </h1>

    <form action="" method="post">

    {{ form.csrf_token }}

    <p> Please fill out the forms to reset your password.</p>
        <p> {{ form.password.label }}</p>
        <p>{{ form.password }}</p>

        <p> {{ form.password2.label }}</p>
        <p>{{ form.password2 }}</p>

        <ul>
        {% for error in form.password2.errors %}
            <li> {{ error }}</li>
        {% endfor %}
        </ul>

        <p>{{ form.submit }}</p>

    </form>

{% endblock %}